* {
    padding: 0;
    margin: 0;
}

:root {
    /* Heading Variables */
    --head-size: 25px;
    --head-wrap-margin: 4% 0;
    --head-wrap-padding: 2% 0;
    /* Outer Wrapper Variables */
    --outer-wrap-width: 60vw;
    --outer-wrap-radius: 10px;
    --outer-wrap-padding: 5% 3% 3% 3%;
    /* Content Wrapper Variables */
    --content-gap: 5%;
    --content-wrap-label-margin: 5%;
    --content-wrap-label-padTop: 1.2vh;
    --search-bar-height: 30px; 
    --search-bar-width: 22vw; 
    --inner-list-width: 21vw; 
    --inner-list-margin: 5% 0 10% 0;
    --inner-list-height: 180px;
    --dropdown-btn-url: url(collapsibleDark.png) ;
    /* Animation Variables */
    --inner-list-close: 5%;
    --inner-list-close-height: 0;
}
/* ----------------------------- Animations -----------------------------*/

/*--------- Inverse Collapsible ---------*/
.inverseCollapse {
    animation: InverseCollapse 0.5s ease;
    animation-fill-mode: forwards;
}

.resetCollapse {
    animation: ResetCollapse 0.5s ease;
    animation-fill-mode: forwards;
}

@keyframes InverseCollapse {
    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes ResetCollapse {
    0% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

/*--------- Inner List Hide/Show ---------*/
.hideList {
    animation: HideList 0.5s ease-in;
    animation-fill-mode: forwards;
}

.showList {
    animation: ShowList 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes HideList {
    0% {
        visibility: visible;
        display: block;
        height: var(--inner-list-height);
        margin: var(--inner-list-margin);
    }
    100% {
        height: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes ShowList {
    0% {
        visibility: hidden;
        display: none;
        height: 0;
        margin-bottom: var(--inner-list-close);
    }
    100% {
        visibility: visible;
        display: block;
        height: var(--inner-list-height);
        margin: var(--inner-list-margin);
    }
}

/* ---------------------------- Page Heading ----------------------------*/
.head-wrapper {
    text-align: center;
    font-weight: bold;
    font-size: var(--head-size);
    margin: var(--head-wrap-margin);
}

.head-wrapper p {
    padding: var(--head-wrap-padding);
}

/* ---------------------------- Page Content ----------------------------*/
.outer-wrapper {
    width: var(--outer-wrap-width);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: var(--outer-wrap-radius);
    padding: var(--outer-wrap-padding);
}

/* ----------- Contents -----------*/
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--content-gap);
}

.content-wrapper ul li{
    list-style: none;
}

.content-wrapper label {
    padding-top: var(--content-wrap-label-padTop);
    margin-bottom: var(--content-wrap-label-margin);
    font-weight: bold;
}

/* ----------- Search Bar -----------*/
.search-bar-wrapper {
    display: flex;
    height: var(--search-bar-height);
    justify-content: center;
    gap: 5%;
}

.search-bar{
    width: var(--search-bar-width);
    height: auto;
    border-radius: 5px;
    border: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* ----------- Dropdown Button -----------*/
.dropdown-btn {
    border: 0;
    border-radius: 0;
    width: var( --search-bar-height);
    height: var( --search-bar-height);
    content: var(--dropdown-btn-url);
}

.dropdown-btn:hover {
    cursor: pointer;
}

/* ----------- Inner List -----------*/
.inner-list {
    overflow-y: scroll;
    position: relative;
    width: var(--inner-list-width);
    height: var(--inner-list-close-height);
    padding: 0;
    margin: var(--inner-list-margin);
    text-align: left;
    border: 2px solid black;
    border-radius: 5px;
    visibility: hidden;
}

.inner-list li {
    padding: 4%;
}

